* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    margin:200px 30px 200px 30px;
    width: 100px;
    height:100px;
    font-size: 70px;
    padding-bottom: 14px;
}

.result {
    padding-top:200px;
    font-size: 100px;
}